.settingProfileBody{
    display: flex;
    justify-content: space-evenly;
    .userItem{
        display: flex;
        flex-direction: column;
        label{
            font-weight: 600;
            margin-top: 10px;
            text-align: center;
        }
        input, select{
            width: 400px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid gray;

        }
    }
}